@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --color-background: #202022;
    --font-color: #CACACA;
    --primary-color: #00BBC9;
    --secundary-color: #00747C;
    --black-color: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--color-background);
    background-position: center;
    background-size: contain;
}

.wrapper {
    /* position: relative; */
    width: 550px;
    height: 800px;
    margin-top: .5rem;
    margin-bottom: 3rem;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    /* overflow: hidden; */
}

.wrapper img {
    width: 100px;
    height: 100px;
    margin-top: 1rem;
}

.wrapper h3 {
    color: var(--font-color);
    font-size: 1.25rem;
    margin-top: 1rem;
}

.wrapper p {
    color: var(--font-color);
    margin-top: .7rem;
}

.icon {
    display: flex;
    justify-content: space-between;
    width: 150px;
    height: 40px;
    margin-top: 1rem;
    /* background-color: seagreen; */
}

.icon a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid transparent;
    text-decoration: none;
    transform: rotate(45deg);
    transition: .5s;
}

.icon a:hover {
    border-color: var(--primary-color);
    filter: drop-shadow(0 0 10px rgba(0, 187, 201, .8));
}

.icon a i {
    font-size: 24px;
    color: var(--primary-color);
    transform: rotate(-45deg);
}

.icon a i:hover {
    filter: drop-shadow(0 0 10px rgba(0, 187, 201, .8));
}

.switch {
    margin-top: 1rem;
    position: relative;
    width: 200px;
    height: 50px;
    border-radius: 25px;
}

.switch input {
    appearance: none;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background: #1e1e1e;
    border: 1px solid rgba(255, 255, 255, .5);
    outline: none;
}

.switch input::before,
.switch input::after {
    z-index: 2;
    position: absolute;
    top: 52%;
    transform: translateY(-50%);
    font-weight: bolder;
}

.switch input::before {
    content: 'PROJECTS';
    left: 20px;
}

.switch input::after {
    content: 'SKILLS';
    right: 20px;
}

.switch input:checked {
    background: var(--primary-color);
}

.switch label {
    z-index: 1;
    position: absolute;
    top: 6px;
    bottom: 4px;
    border-radius: 20px;
}

.switch input {
    transition: .25s;
}

.switch input:checked::after,
.switch input:checked::before {
    color: var(--font-color);
    transition: color .5s;
}

.switch input:checked+label {
    top: 5px;
    left: 7px;
    right: 100px;
    background: #1e1e1e;
    transition: left.5s, right .4s .2s;
}

.switch input:not(:checked) {
    background: #1e1e1e;
    transition: background .4s;
}

.switch input:not(:checked)::before {
    color: var(--font-color);
    transition: color .5s;
}

.switch input:not(:checked)::after {
    color: #1e1e1e;
    transition: color .5s .2s;
}

.switch input:not(:checked) +label {
    top: 5px;
    left: 120px;
    right: 4px;
    background: var(--primary-color);
    transition: left .4s .2s, right .5s, background .35s;
}

.lang {
    width: 100%;
    height: 400px;
    margin-top: 2rem;
    margin-bottom: 3rem;
    display: grid;
    grid-template-columns: 160px 160px 160px;
    grid-template-rows: 133,33px 133,33px 133,33px;
    /* gap: 5px; */
    row-gap: 3px;
    column-gap: 3px;
    align-items: center;
    justify-content: center;
   }

   .lang div {
    text-align: center;
    width: 100%;
    height: 100%;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    /* background: #878787; */
    filter: drop-shadow(0 0 10px rgba(0, 187, 201, .8));
    display: flex;
    flex-direction: column;
    align-items: center;
   }

   .lang div h4 {
    margin-top: .5rem;
    color: var(--primary-color);
    font-size: .8rem;
   }

   .lang div i {
    /* margin-top: 1.5rem; */
    font-size: 1.5rem;
    color: var(--font-color);
    margin-top: 1rem;
   }

   .lang div i:hover {
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, .3));
   }

   .lang div p {
    margin-top: 1.8rem;
    font-size: .6rem;
    color: var(--primary-color);
   }

   .projects {
    width: 92%;
    height: 400px;
    margin-top: 2rem;
    margin-bottom: 3rem;
    display: grid;
    grid-template-columns: 250px 250px;
    grid-template-rows: 200px 200px;
    gap: 5px;
   }

   .project1,
   .project2,
   .project3,
   .project4 {
    /* text-align: center; */
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    width: 100%;
    height: 100%;
    filter: drop-shadow(0 0 10px rgba(0, 187, 201, .4));
   }

   .projects .project1 {
    background: url(calc-groj.png);
    background-size: cover;
    background-repeat: no-repeat;
   }

   .projects .project2 {
    background: url(website-log.png);
    background-size: cover;
    background-repeat: no-repeat;
   }

   .projects .project3 {
    background: url(forc-cpt.png);
    background-size: cover;
    background-repeat: no-repeat;
   }

   .projects .project4 {
    background: url(tarefa-cod.png);
    background-size: cover;
    background-repeat: no-repeat;
   }

   .projects .title {
    text-align: center;
    height: 40px;
    margin-bottom: 1.5rem;
   }

   .project1 a,
   .project2 a,
   .project3 a,
   .project4 a {
    text-decoration: none;
   }

   .projects .title h3 {
    font-size: .9rem;
    color: var(--font-color);
    background-color: rgba(0, 187, 201, .28);
    margin-top: 0;
    padding-top: 5px;
    height: 30px;
   }

   .projects,
   .list {
    list-style: none;
    list-style-type: none;
    color: var(--font-color);
   }

   .projects ul li {
    list-style: none;
    font-size: .7rem;
    font-weight: 600;
   }

   .footer p {
    font-size: .7rem;
    color: var(--font-color);
   }

   /* ANIMATIONS */

   .project__tech1 {
    animation: fadeInTech 1s linear forwards;
    transform: translate(0);
    opacity: 0;
  }
  
  .project__tech2 {
    animation: fadeInTech 1s linear forwards 0.20s;
    transform: translate(0);
    opacity: 0;
  }
  
  .project__tech3 {
    animation: fadeInTech 1s linear forwards 0.40s;
    transform: translate(0);
    opacity: 0;
  }

  @keyframes fadeInTech {
    0% {
      opacity: 0;
      transform: translateX(0);
    }
    30% {
      opacity: 0;
      transform: translateX(0);
    }
    70% {
      transform: translateX(10%);
      opacity: 1;
    }
    100% {
      transform: translateX(10%);
      opacity: 1;
    }
  }

  /* MEDIA QUERYS */

  @media screen and (max-width: 768px) {
    .wrapper {
        width: 100%;
        height: 1150px;
    }
    
    .lang {
        width: 100%;
        height: 600px;
        margin-top: 2rem;
        margin-bottom: 3rem;
        display: grid;
        grid-template-columns: 160px 160px;
        grid-template-rows: 150px 150px 150px 150px;
        row-gap: 3px;
        column-gap: 3px;
        align-items: center;justify-content: center;
    }

    .lang > .java {
        margin-left: 5rem;
    }

    .projects {
        width: 92%;
        height: 800px;
        margin-top: 2rem;
        margin-bottom: 3rem;
        display: grid;
        grid-template-columns: 300px;
        grid-template-rows: 180px 180px 180px 180px;
        align-items: center;
    }

    .project1,
    .project3 {
        margin-left: 18rem;
    }

    .project2,
    .project4 {
        margin-left: 4.5rem;
    }
    
  }

  @media screen and (max-width: 430px) {
    .project1,
    .project3 {
        margin-left: 1rem;
    }

    .project2,
    .project4 {
        margin-left: 3rem;
    }
  }
